/* PC */
@media screen and (min-width: 992px) {
    .hide-pc {
        display: none;
    }

    .hero__content {
        transform: translateX(-40px);
    }

    .client__heading {
        transform: translateX(100px);
    }

    .client__row {
        margin-left: 20px;
    }
}

/* Tablet and Mobile */
@media screen and (max-width: 991.98px) {
    .hide-tablet-mobile {
        display: none;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .hide-tablet {
        display: none;
    }
}

/* Mobile */
@media screen and (max-width: 767.98px) {
    .hide-mobile {
        display: none;
    }

    /* .header__inner {
        
    } */
    .header__mail-group {
        justify-content: end;
    }

    .header-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 46px;
        height: 46px;
        gap: 6px;
        border-radius: 50%;
        border: 1.5px solid rgba(93, 59, 238, 0.2);
    }

    .header-menu-line {
        width: 15px;
        height: 2px;
        border-radius: 15px;
        background: var(--tertiary-color);
    }

    .header__memoji {
        width: 70px;
        order: -1;
        margin: 0;
    }

    .header-mobile-divider {
        width: 98vw;
        height: 1.5px;
        background: #d6d3e2;
        margin: 0 auto;
        margin-top: 10.5px;
    }

    .order-top {
        order: -1;
    }

    .hero__inner {
        flex-direction: column;
        align-items: normal;
    }

    .hero__decor {
        display: none;
    }

    .hero__heading {
        width: 260px;
        font-size: 4.2rem;
        letter-spacing: -1.68px;
        line-height: 1.19;
    }

    .hero__desc {
        font-size: 1.6rem;
        line-height: 1.62;
    }

    .hero__socials {
        margin-top: 30px;
    }

    .hero__img {
        width: 100%;
        margin-top: 20px;
    }

    .client__heading {
        text-align: center;
        margin: 0 auto;
    }

    .client__heading::before {
        width: 48px;
        position: relative;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .client__row {
        margin-top: 42px;
        grid-template-columns: repeat(2, max-content);
        justify-content: center;
    }

    /* fix adobe and canva position */
    .client__brand:nth-child(1),
    .client__brand:nth-child(2) {
        order: 1;
    }

    .client__brand:nth-child(5),
    .client__brand:nth-child(6) {
        order: 2;
    }

    .client__brand:nth-child(3),
    .client__brand:nth-child(4) {
        order: 3;
    }

    .client__brand:nth-child(7),
    .client__brand:nth-child(8) {
        order: 4;
    }

    .client__brand:nth-child(4),
    .client__brand:last-child {
        justify-self: center;
    }
}
