* {
    box-sizing: border-box;
}

html,
input,
textarea,
button,
label {
    font-family: "DM Sans", "system-ui";
    font-size: 62.5%;
}

body {
    background: white;
    height: 100000px;
}

a {
    text-decoration: none;
}

/* ----------------------------- Common ----------------------------- */
:root {
    --primary-color: #fbfaff;
    --secondary-color: white;
    --tertiary-color: #5d3bee;

    --heading-color: #080415;
    --content-color: #51586a;
}

.btn {
    --btn-height: 62px;
    text-align: center;
    width: 170px;
    max-width: 170px;
    color: #fdfdfd;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: var(--btn-height);
    display: inline-block;
    background: var(--tertiary-color);
    padding: 0 16px;
}

.heading {
    color: var(--heading-color);
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: -2.24px;
}

.title {
    color: #080415;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -1.28px;
}

.content-desc {
    color: var(--content-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

/* ----------------------------- Header ----------------------------- */
.header {
    padding: 20px 0 16px;
    background: var(--primary-color);
    width: 100%;
    position: sticky;
    top: -10px;
    z-index: 2;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header__mail-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__email-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 1.5px solid rgba(93, 59, 238, 0.2);
}

.header__email {
    color: var(--heading-color);
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.36;
    text-decoration: underline;
}

.header__memoji {
    width: 100px;
    height: 100px;
}

.navbar-list {
    display: flex;
}

.navbar__link {
    display: inline-block;
    padding: 8px 22px;
}

.navbar__link:hover {
    text-shadow: 1px 0 0 var(--tertiary-color);
}
