* {
    box-sizing: border-box;
}

html,
input,
textarea,
button,
label {
    font-family: "DM Sans", "system-ui";
    font-size: 62.5%;
}

body {
    background: white;
    height: 10000px;
}

a {
    text-decoration: none;
}

/* ----------------------------- Common ----------------------------- */
:root {
    --primary-color: #fbfaff;
    --secondary-color: white;
    --tertiary-color: #5d3bee;

    --heading-color: #080415;
    --content-color: #51586a;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --btn-height: 62px;
    text-align: center;
    width: 170px;
    max-width: 170px;
    color: #fdfdfd;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: var(--btn-height);
    display: inline-block;
    background: var(--tertiary-color);
    padding: 0 16px;
}

.heading {
    color: var(--heading-color);
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: -2.24px;
}

.title {
    color: #080415;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -1.28px;
}

.content-desc {
    color: var(--content-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

/* ----------------------------- Header ----------------------------- */
.header {
    background: var(--primary-color);
    position: sticky;
    top: -5px;
    z-index: 2;
}

.header__inner {
    align-items: center;
}

.header__mail-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__email-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 1.5px solid rgba(93, 59, 238, 0.2);
}

.header__email {
    color: var(--heading-color);
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.36;
    text-decoration: underline;
}

.header__memoji {
    display: block;
    margin: 0 auto;
}

.navbar-list {
    display: flex;
    gap: 45px;
}

.navbar__link:hover {
    text-shadow: 1px 0 0 var(--tertiary-color);
}

/* ----------------------------- Hero ----------------------------- */
.hero {
    padding-top: 44px;
    background: var(--primary-color);
    display: flex;
    align-items: flex-end;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Hero media */
.hero__img {
    width: 514px;
}

.hero__img-wrapper {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    z-index: 0;
}

.hero__decor {
    width: 172%;
    transform: translateX(-25px);
    position: absolute;
    z-index: -1;
}

/* Hero content */
.hero__heading {
    color: var(--heading-color);
    font-size: 8rem;
    font-weight: 500;
    line-height: 0.95;
    letter-spacing: -3.2px;
    width: 500px;
}

.hero__desc {
    margin-top: 20px;
    width: 370px;
}

.hero__cta {
    margin-top: 50px;
}

.hero__more {
    margin-left: 30px;
    color: var(--heading-color);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.67;
    text-decoration: underline;
}

.hero__socials {
    margin-top: 104px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.hero__social-row {
    display: flex;
    gap: 20px;
}

.hero__social-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(8, 4, 21, 0.1);
}

.hero__content-decor {
    position: absolute;
    transform: translateX(230%);
    width: 30%;
}

/* ----------------------------- Client ----------------------------- */
.client {
    margin-top: 100px;
}

.client__heading {
    width: 252px;
    color: var(--heading-color);
    font-size: 4.2rem;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: -1.68px;
    position: relative;
    /* display: flex; */
}

.client__heading::before {
    content: "";
    display: block;
    background: var(--tertiary-color);
    width: 86px;
    height: 2px;
    position: absolute;
    top: 22px;
    left: -99px;
    margin-right: 13px;
}

.client__row {
    display: grid;
    grid-template-columns: repeat(4, auto);
    row-gap: 34px;
}

.client__brand {
    display: flex;
    align-items: center;
    gap: 13px;
}

.client__brand-wrapper {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
}

.client__name {
    color: var(--heading-color);
    font-size: 1.8rem;
    font-weight: 600;
}

.client__brand:nth-child(3) .client__brand-wrapper {
    background: #fee101;
}

.client__brand:nth-child(4) .client__brand-wrapper {
    background: red;
}

.client__brand:nth-child(5) .client__brand-wrapper {
    background: #14a800;
}

.client__brand:nth-child(6) .client__brand-wrapper {
    background: white;
}

.client__brand:nth-child(7) .client__brand-wrapper {
    background: #7f54b3;
}

/* ----------------------------- Services ----------------------------- */
.services {
    margin-top: 133px;
}

.services__heading {
    text-align: center;
}

.services__desc {
    width: 534px;
    padding-top: 20px;
    text-align: center;
    margin: 0 auto;
}

.services__list {
    margin-top: 60px;
}

.services__card {
    padding: 33px 43px;
    background: var(--primary-color);
}

.services__icon-wrapper {
    width: 74px;
    height: 74px;
    border-radius: 50%;
    border: 1px solid rgba(8, 4, 21, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
}

.services___item:first-child .services__icon {
    transform: translateY(10%);
}

.services___item:nth-child(2) .services__icon {
    transform: translateY(15%);
}

.services___item:last-child .services__icon {
    transform: translate(-6%, 15%);
}

.services__card-title {
    margin-top: 22px;
}

.services__card-desc {
    margin-top: 15px;
    max-width: 285px;
}

/* ----------------------------- Projects ----------------------------- */
.projects {
    background: var(--tertiary-color);
    margin-top: 140px;
    padding: 86px 0;
}

.projects__heading {
    color: var(--secondary-color);
    width: 468px;
}

.projects__desc {
    color: var(--secondary-color);
    width: 370px;
    transform: translateX(28px);
}

.projects__list {
    margin-top: 70px;
    row-gap: 30px;
}

.projects__card {
    padding: 24px 24px 24px 34px;
    background: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 0;
}

.projects__img {
    width: 246px;
}

.projects__card-desc {
    margin-top: 10px;
    width: 220px;
    font-size: 1.6rem;
    line-height: 1.44;
}

.projects__case {
    display: block;
    margin-top: 20px;
    font-size: 1.8rem;
    color: var(--heading-color);
    font-style: normal;
    font-weight: 700;
    line-height: 1.67;
    text-decoration: underline;
}

.projects__card-decor {
    width: 76%;
    position: absolute;
    right: 0.2px;
    top: -14px;
    z-index: -1;
}

.projects__btn-row {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.projects__btn {
    background: var(--secondary-color);
    color: var(--heading-color);
}

/* ----------------------------- Stats ----------------------------- */
.stats {
    margin-top: 140px;
    background: linear-gradient(
        to bottom,
        var(--secondary-color) 42%,
        var(--primary-color) 42%
    );
    position: relative;
}

.stats__container {
    padding-bottom: 74px;
}

.stats__label {
    display: block;
    color: #5d3bee;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -1.28px;
    text-align: center;
}

.stats__label::after {
    content: url(../img/waving-hand-memoji.svg);
    margin-left: 9px;
}

.stats__heading {
    margin-top: 10px;
    text-align: center;
}

.stats__desc {
    width: 570px;
    text-align: center;
    margin: 15px auto 0;
}

.stats__row-inner {
    margin-top: 70px;
}

.stats__row {
    text-align: center;
}

.stats__row::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: rgb(8, 4, 21, 0.2);
}

.stats__row::after {
    display: block;
    content: "";
    width: 100%;
    height: 1.5px;
    margin-top: 20px;
    background: rgb(8, 4, 21, 0.2);
}

.stats__quantity {
    display: block;
    line-height: 1.35;
    letter-spacing: 1.68px;
    text-decoration: underline;
}

.stats__info {
    margin-top: 20px;
}

.stats__watching {
    margin-top: 70px;
    position: relative;
}

.stats__video {
    width: 100%;
}

.stats__watching-btn {
    width: 111px;
    height: 111px;
    border-radius: 111px;
    background: rgba(255, 255, 255, 0.7);
    --webkit-backdrop-filter: blur(12px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 259px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.stats__video-label {
    background: var(--secondary-color);
    color: var(--heading-color);
    position: absolute;
    right: 25px;
    bottom: 12px;
    cursor: pointer;
}

.stats-page-decor {
    position: absolute;
    bottom: 0;
}

.stats__decor-left {
    width: 16%;
    left: 0;
}

.stats__decor-right {
    right: 0;
    width: 18%;
}

/* ----------------------------- Testimonial -----------------------------  */
.testimonial {
    margin-top: 150px;
    text-align: center;
}

.testimonial__desc {
    width: 570px;
    margin: 15px auto 0;
}

.testimonial__group {
    margin-top: 60px;
}

.testimonial__speech {
    width: 679px;
    margin: 0 auto;
    color: #51586a;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}

.testimonial__info {
    margin-top: 36px;
}

.testimonial__info-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.testimonial__avt-wrap {
    width: 39.833px;
    height: 39.833px;
    border-radius: 50%;
    background: #f29764;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.testimonial__avt {
    width: 100%;
    object-fit: cover;
}

.testimonial__info-desc {
    color: #515f79;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.81;
    margin-top: 3px;
}

.control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.control-row {
    margin: 40px auto 0;
    display: flex;
    gap: 15px;
    justify-content: center;
}

.control-btn::after {
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: rgba(8, 4, 21, 0.2);
}

.control-btn::before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
}

.control-btn:has(:checked)::before {
    outline: 1.5px solid var(--tertiary-color);
}

.control-btn:has(:checked)::after {
    transform: scale(75%);
    background: var(--tertiary-color);
}

/* ----------------------------- FAQ ----------------------------- */
.faq {
    margin-top: 95px;
}

.faq__questionaire {
    margin-top: 80px;
}

.faq__heading {
    width: 575px;
}

.faq__question {
    align-items: start;
}

.faq__question + .faq__question {
    margin-top: 60px;
    align-items: end;
}

.faq__question:first-child .faq__title {
    color: var(--tertiary-color);
}

.faq__desc {
    margin-top: 23px;
    width: 487px;
}

.faq__question::after {
    content: "";
    display: block;
    width: 100%;
    height: 1.5px;
    margin-top: 21px;
    background: var(--heading-color);
}

.faq__question + .faq__question::after {
    margin-top: 33px;
}

.faq__expand {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid rgba(93, 59, 238, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.faq__expand::after {
    content: "+";
    display: block;
    color: black;
    font-size: 3rem;
    position: absolute;
}

.faq__control {
    display: flex;
    justify-content: flex-end;
}

/* Expand feature... */

/* ----------------------------- Atmosphere ----------------------------- */
